* {
  margin: 0;
  box-sizing: border-box;
}



.wrapper{
    width: 300px;
    padding: 10px;
}

.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid black;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-37px);
    font-size: 20px;
}

.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    right: 0;
    color: black;
    pointer-events: none;
    transition: all 0.3s ease;
    
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: black;
}

h1 {
  margin: 16px 0;
  border-left: 5px solid green;
  padding-left: 16px;
}

.container {
  padding: 48px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container .group {
  padding: 8px 100px;
  margin: 8px;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
}

label::before {
  content: "";
  background: url("check-circle.svg");
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -44px;
  top: -8px;

  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked + label::before {
  transform: scale(1) rotateZ(0deg);
}

#l::after {
  content: "";
  border: 2px solid #27ae60;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -42px;
  top: -6px;
  border-radius: 50%;
}
